

.content{
    background-color: #fff;
    
}

.sideNav{
    background-color: #fff;
    height: 100vh;
    /* position: -webkit-sticky; */
    position:sticky;
    top: 0;
    z-index: 1;
    justify-content:center;
    align-items:center;
    margin: auto;
    display:flex;
}

.bako{
    align-items: center;
    justify-content: center;
    /* background-image: linear-gradient(#9d91a8, #2b1257); */
    /* opacity: 0.8; */
    background-image: linear-gradient(#9d91a8, #2b1257);
    border-radius:10px;
    width: 80%;
    height: 700px;;
    text-align: center;
    display: flex;
    flex-direction:column;
}
.SubHeader{
    background-image: linear-gradient(#9d91a8, #2b1257);
    height: 700px;
    width: 100%;
    text-align:center;
    justify-content: center;
    border-radius:10px;
    display: flex;
    flex-direction:column;
    margin-top: 25px;
}
h1,h4{
    color: #fff;
}
.imgKoneru{
    margin-bottom: 20px;
}

.careerDiv{
    display: flex;
    flex-direction:row;
    color: #fff;
    justify-content: center;
    margin-top:20px;
}
/* .course-col{
    flex-basis: 25%;
    background-color: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 20px 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction:column;
    width: 100%;
}
.course-col:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

.courses {
    width: 100%;
    text-align: center;
    padding-top: 100px;
    margin: auto;
} */
.cardHover:hover {
    background-color: #baa5d1 !important;
    transition: 1s;
    -webkit-box-shadow: -1px 1px 5px 5px #833ecf;
    -moz-box-shadow: -1px 1px 5px 5px #833ecf;
    box-shadow: -1px 1px 5px 5px #833ecf ;

  }

  .cardHover{
    height: 300px;
    background-color: #FFF !important;
    
  }
  .cardStyle{
      display:flex;
      flex-direction:row;
      justify-content: space-around;
      align-items:center;
      border-radius: 10px;
      
      
  }
  .academicDiv{
      margin-bottom: 150px;
  }
  .heading{
      color: black;
  }
  .picCard{
      display: flex;
      flex-direction:row;
      justify-content:space-around;
      align-items:center;
      
  }
  .skillCard{
      height: 500px;
  }
  .skillsDiv{
    margin-bottom: 50px;
}
.ol, li{
    list-style-type: disc;
}
.skillsList{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items:flex-start;
}

.detailsDiv{
    margin-bottom: 150px;
}

.detailsCard{
    width: 80%;
    justify-content:space-around;
    display: flex;
    height: 300px;
    margin-left: 50px;
}
.detailsCard:hover{
    background-color: #baa5d1 !important;
    transition: 1s;
    -webkit-box-shadow: -1px 1px 5px 5px #FFF;
    -moz-box-shadow: -1px 1px 5px 5px #FFF;
    box-shadow: -1px 1px 5px 5px #FFF ;
}

.bako a{
    text-decoration:none;
    color: white;
}
.icons{
    display: flex;
    flex-direction:row;
    align-items:center;
}
.iconsMainDiv{
    display: flex;
    justify-content:flex-start;
    flex-direction:column;
}
.fa{
    color: white;
    margin-right:20px;
}
.skillsHover:hover {
    background-color: #baa5d1 !important;
    transition: 1s;
    -webkit-box-shadow: -1px 1px 5px 5px #FFF;
    -moz-box-shadow: -1px 1px 5px 5px #FFF;
    box-shadow: -1px 1px 5px 5px #FFF ;

  }
  
  a{
      position: relative;
      text-decoration: none;
      color: white !important;
  } 
  a::after{
      content: " ";
      position: absolute;
      background-color:red;
      height:3px;
      width: 0%;
      left: 0%;
      bottom: 0px;
      transition: 0.3s;

  }
  a:hover::after{
      width: 100%;
  }
  .nameStyle{
      color: red;
  }


  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #131313;
}

.container{
  position: relative;
}

.container .card{
  position: relative;
  /* width: 280px; */
  height: 400px;
  background-image: linear-gradient(#9d91a8, #2b1257);
  border-radius: 20px;
  overflow: hidden;
}

.container .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #dea543;
  /* background-image: linear-gradient(#9d91a8, #2b1257); */
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.container .card:after{
  /* content: 'Nike'; */
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.container .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
    
}

.container .card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 270px;
}

.container .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card:hover .contentBx{
  height: 210px;
}

.container .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container .card .contentBx .size, .container .card .contentBx .color {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* padding: 8px 20px; */
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card .contentBx .size h3, .container .card .contentBx .color h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card .contentBx .size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container .card .contentBx .size span:hover{
  background: #9bdc28;
}

.container .card .contentBx .color span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2){
  background: #9bdc28;
}

.container .card .contentBx .color span:nth-child(3){
  background: #03a9f4;
}

.container .card .contentBx .color span:nth-child(4){
  background: #e91e63;
}

/* .container .card .contentBx a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
} */

.container .card:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
  
}
h6{
    color: #fff;
}

/* ////////////////////////////// */

